<style>
  .example {
    position: relative;
    border-top: 1px solid #ddd;
    padding: 50px 0px;
  }

  .example:nth-child(1) {
    border-top: none;
  }

  .reset {
    border-radius: none;
    outline: none;
    border-color: none;
    border-width: 0;
    background: none;
    position: static;
    line-height: 1;
    display: block;
    padding: 0;
    margin: 0;
    text-align: left;
    font-family: Arial;
  }
</style>

<h2>Padding</h2>

<div class="example">
  <style>
    .reset.display-inline.no-padding {
      background: #ddd;
      color: #333;
      display: inline;
      padding: 0px;
    }
  </style>
  <div class="reset display-inline no-padding">Text</div>
</div>

<div class="example">
  <style>
    .reset.display-inline.with-padding {
      background: #ddd;
      color: #333;
      display: inline;
      padding: 10px;
    }
  </style>
  <div class="reset display-inline with-padding">Text</div>
</div>

<div class="example">
  <style>
    .reset.display-inline-block.no-padding {
      background: #ddd;
      color: #333;
      display: inline-block;
      padding: 0px;
    }
  </style>
  <div class="reset display-inline-block no-padding">Text</div>
</div>

<div class="example">
  <style>
    .reset.display-inline-block.with-padding {
      background: #ddd;
      color: #333;
      display: inline-block;
      padding: 10px;
    }
  </style>
  <div class="reset display-inline-block with-padding">Text</div>
</div>

<div class="example">
  <style>
    .reset.display-block.no-padding {
      background: #ddd;
      color: #333;
      display: block;
      padding: 0px;
    }
  </style>
  <div class="reset display-block no-padding">Text</div>
</div>

<div class="example">
  <style>
    .reset.display-block.with-padding {
      background: #ddd;
      color: #333;
      display: block;
      padding: 10px;
    }
  </style>
  <div class="reset display-block with-padding">Text</div>
</div>

<h2>Padding + Line height</h2>

<div class="example">
  <style>
    .reset.display-inline.no-padding.b {
      line-height: 2;
      background: #ddd;
      color: #333;
      display: inline;
      padding: 0px;
    }
  </style>
  <div class="reset display-inline no-padding b">Text</div>
</div>

<div class="example">
  <style>
    .reset.display-inline.with-padding.b {
      line-height: 2;
      background: #ddd;
      color: #333;
      display: inline;
      padding: 10px;
    }
  </style>
  <div class="reset display-inline with-padding b">Text</div>
</div>

<div class="example">
  <style>
    .reset.display-inline-block.no-padding.b {
      line-height: 2;
      background: #ddd;
      color: #333;
      display: inline-block;
      padding: 0px;
    }
  </style>
  <div class="reset display-inline-block no-padding b">Text</div>
</div>

<div class="example">
  <style>
    .reset.display-inline-block.with-padding.b {
      line-height: 2;
      background: #ddd;
      color: #333;
      display: inline-block;
      padding: 10px;
    }
  </style>
  <div class="reset display-inline-block with-padding b">Text</div>
</div>

<div class="example">
  <style>
    .reset.display-block.no-padding.b {
      line-height: 2;
      background: #ddd;
      color: #333;
      display: block;
      padding: 0px;
    }
  </style>
  <div class="reset display-block no-padding b">Text</div>
</div>

<div class="example">
  <style>
    .reset.display-block.with-padding.b {
      line-height: 2;
      background: #ddd;
      color: #333;
      display: block;
      padding: 10px;
    }
  </style>
  <div class="reset display-block with-padding b">Text</div>
</div>
